
body {
    background-color: #bec9f6;
}

/* b. Text color */
body {
    color: #0b0154; /* Replace with your preferred text color */
}

/* c. Link color */
a {
    color: #007bff; /* Replace with your preferred link color */
}

/* d. Heading color */
h1, h2, h3, h4, h5, h6 {
    color: #0b0154; /* Replace with your preferred heading color */
}

/* e. Site Navigation Background */
nav {
    background-color: #444444;
    text-align: center;
    padding: 10px; /* Adds padding inside the nav */
    margin-bottom: 30px;

}

/* f. Site Navigation Highlight Color (Hover/Active) */
nav a:hover, nav a:active {
    background-color: #ffcc00; /* Replace with your preferred highlight color */
}

/* g. Site Navigation Link Color */
nav a {
    color: #007bff; /* Replace with your preferred nav link color */
}